body{
    margin: 0 auto;
}
main{
    margin: 0 auto;
}
.thebooleaner{
    width: 10%;
}
.logo{
    background-image: url('../img/pattern.png');
    background-size: contain;
    height: 80px;
    background-color: rgb(11, 97, 255);
}
h1{
    font-size: 50px;
}
.infowriter{
    font-size: 20px;
    color: gray;
}
span{
    color: darkturquoise;
    font-size: 20px;
}
.monitor{
    height: 200px;
    width: 250px;
    background-image: url('../img/monitor.jpg');
}
.graphic{
    margin-top: 50px;
    height: 200px;
    width: 250px;
    background-image: url('../img/graph.jpg');
}